/****************************************************************************************************
*
*  Foglio di stile per il menu
*
*  @file unitalsi_menu.css
*  @abstract Foglio di stile per il menù drop down
*  @author Luca Romano
*  @version 1.0
*  @time 2017-02-8
*  @history prima versione
*  
*  @first 1.0
*  @since 2017-02-08
*  @CompatibleAppVer All
*  @where Monza
*
****************************************************************************************************/
 /* div.fixed1 { 
       padding: 3px;
       border: 1px solid black; 
       margin: auto;
       align-items: center;
       align-content: center;
      }*/
/*.background { background-color: #c0c0c0; color: #335500; margin: auto; display: inline-block;}  */  
   #fixed1 { position: fixed; top: 0px;  height: 82px; width: 98.7%; border: 0px; background-color: #F4F4A6; z-index: 50; }

   table.menu {
        background-color: none;
        }
    ul.menu{
        padding: 0;
        list-style: none;
        background: #f2f2f2;
    }
    ul.menu li{
        display: inline-block;
        position: relative;
        line-height: 21px;
        text-align: left;
        font-family: "Arial";
        font: bold 11px Arial, Helvetica, sans-serif;
    }
    ul.menu li a{
        display: block;
        padding: 8px 25px;
        color: #333;
        text-decoration: none;
    }
    ul.menu li a:hover{
        color: #fff;
        background: #939393;
    }
    ul.menu li ul.dropdown{
        min-width: 100%; /* Set width of the dropdown */
        background: #f2f2f2;
        display: none;
        position: absolute;
        z-index: 10;
        left: 0;
    }
    ul.menu li:hover ul.dropdown{
        display: block; /* Display the dropdown */
    }
    ul.menu li ul.dropdown li{
        display: block;
    }

